<div class="profile-picture">
  <%= image_tag "/images/profile.jpeg" %>
</div>
<div class="social-links">
  <ul>
    <li><%= link_to "Linkedin", "https://www.linkedin.com/in/lucasayb/", class: "social-linkedin", rel: "nofollow", target: "_blank" %></li>
    <li><%= link_to "Instagram", "https://www.instagram.com/lucasyamamoto1997", class: "social-instagram", rel: "nofollow", target: "_blank" %></li>
    <li><%= link_to "Twitter", "https://twitter.com/lucasayb", class: "social-twitter", rel: "nofollow", target: "_blank" %></li>
    <li><%= link_to "Email", "mailto:lucasayb97@gmail.com", class: "social-email", rel: "nofollow", target: "_blank" %></li>
  </ul>
</div>